In [1]:
import pandas as pd
arquivo = pd.read_csv('wine_dataset.csv')

In [2]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [3]:
# atribuindo valor numérico à última coluna 'red x white'
arquivo['style'] = arquivo['style'].replace('red', 0)

In [4]:
arquivo['style'] = arquivo['style'].replace('white', 1)

In [5]:
# separando as variáveis
y = arquivo['style'] # armazena coluna 'style' na variável y (variável alvo)
x = arquivo.drop('style', axis = 1) # armazena todo o restante na variável x (variáveis preditoras)

In [7]:
# conjunto de dados para treino e teste
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3) # test_size: quantos % p/ treino e p/ teste

In [10]:
# criação do modelo
from sklearn.ensemble import ExtraTreesClassifier
modelo = ExtraTreesClassifier() # algoritmo que cria várias árvores de decisão
modelo.fit(x_treino, y_treino)

resultado = modelo.score(x_teste, y_teste)
print(f'Acurácia: {resultado}')

Acurácia: 0.9943589743589744

In [13]:
y_teste[205:210] # filtro de 5 amostras aleatóreas que o modelo não teve contato

4301    1
3185    1
1625    1
1926    1
6436    1
Name: style, dtype: int64

In [14]:
x_teste[205:210] # filtro de 5 amostras aleatóreas que o modelo não teve contato

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
4301,6.5,0.23,0.36,16.3,0.038,43.0,133.0,0.99924,3.26,0.41,8.8,5
3185,9.3,0.31,0.49,1.3,0.042,34.0,147.0,0.99480,3.11,0.46,9.8,5
1625,6.9,0.24,0.35,1.0,0.052,35.0,146.0,0.99300,3.45,0.44,10.0,6
1926,6.4,0.34,0.23,6.3,0.039,37.0,143.0,0.99440,3.19,0.65,10.0,6
6436,6.5,0.28,0.38,7.8,0.031,54.0,216.0,0.99154,3.03,0.42,13.1,6

In [16]:
previsoes = modelo.predict(x_teste[205:210]) # criação de variável para checar se o modelo treinado acerta

In [18]:
print(previsoes) # modelo previu corretamente

[1 1 1 1 1]